<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <header>
      <a href="/"><h1>Baseball Cards</h1></a>
      <a href="/cards/new">Add Card!</a>
    </header>

{{{yield}}}

  </body>
</html>
